{% extends 'base.html.twig' %}

{% block content %}
    <h1 {{ stimulus_controller('symfony/ux-typed', {
            strings: ['Hello 👋!'],
            showCursor: false,
            cursorChar: '✨',
            smartBackspace: true,
        })}}></h1>

    <hr />

    <div class="container">
        <h2>How cool are we?</h2>
        {{ render_chart(chart)}}
    </div>
{% endblock %}
